body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  padding: 20px;
}

.product-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.product,
.cart-item {
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.product img {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  margin-right: 20px;
}

.product h3,
.cart-item h3 {
  margin-top: 0;
}

.cart-buttons {
  display: flex;
  gap: 10px;
}

.product button,
.cart-item button,
.total button,
.thank-you-page button {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.product button:hover,
.cart-item button:hover,
.total button:hover,
.thank-you-page button:hover {
  background-color: #4cae4c;
}

.total {
  text-align: right;
  margin-top: 20px;
}

.total p {
  font-size: 18px;
  font-weight: bold;
}

h1 {
  color: #333;
}
