.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fdfdfd;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 500px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 10px;
}

.inputLabel {
  margin-right: 10px;
}

.inputField {
  padding: 5px;
  margin-right: 10px;
  width: 150px;
}

.calculateButton {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.calculateButton:hover {
  background-color: #45a049;
}

.error {
  color: #cb3535;
  margin-top: 5px;
}
